{% extends 'blog/base.html' %}
{% block title %} مطالب با موضوع {{ cat.name }} {% endblock %}
{% block content %}

        
        <header class="tags-header">
            <h1> مطالب با موضوع &nbsp;<i class="fa fa-bookmark-o" aria-hidden="true"></i>&nbsp;{{ cat.name }}</h1>
        </header>

        {% for post in posts %}
        
        <section id="main-section">
            {% include 'blog/post_summary.html' %}
        </section>
        {% empty %}
        <header class="article-header">
            <h3>هیچ مطلبی با موضوع {{ cat.name }} یافت نشد.</h3>
        </header>
        {% endfor %}

{% endblock %}