{% extends 'blog/base.html' %}
{% block title %} Blog Index page {% endblock %}

{% block aside %}

{% endblock %}

{% block content %}

{% for post in fixed_posts %}
    <section id="main-section">
        {% include 'blog/post_summary.html' %}
    </section>
{% endfor %}

{% for post in posts %}
    {% if post.post_status %}
        <section id="main-section">
            {% include 'blog/post_summary.html' %}
        </section>
    {% endif %}

{% empty %}
    <br><br>
    <header class="tags-header">
        <h1>
            هیچ مطلبی یافت نشد.
        </h1>
    </header>
    <br><br>
{% endfor %}

{% endblock %}