{% extends 'blog/base.html' %}
{% block title %} {{ post.post_title }} {% endblock %}
{% block content %}

    {% if post.post_status %}
        
    <section id="main-section">
        <header class="article-header">
            <h3><i class="fa fa-chevron-down" aria-hidden="true"></i>&nbsp;<a href="{{ post.get_absolute_url }}">{{ post.post_title }}</a></h3>
        </header>
        <div class="article-top-meta">
            <h5><span class="float-left top-meta-left"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.post_date }}</span></h5>
            <h5><span><i class="fa fa-user" aria-hidden="true"></i>  {{ post.post_author }}</span></h5>            
        </div>
        <article class="article-body">
            <p>{{ post.post_content|linebreaks }}</p>
        </article>
        <br>
        <footer class="article-footer">
            {% for cat in post.post_category.all %}
                <a href="{% url 'blog:cat_single' cat.slug %}"><i class="fa fa-bookmark-o" aria-hidden="true"></i> &nbsp; {{ cat.name }}</a>&nbsp;
            {% endfor %}
            <br>
            {% for tag in post.post_tag.all %}
                <a href="{% url 'blog:tag_single' tag.slug %}"><i class="fa fa-hashtag" aria-hidden="true"></i>&nbsp;{{ tag.name }}</a>&nbsp;
            {% endfor %}

        </footer>
    </section>

    {% endif %}

{% endblock %}