{% extends 'blog/base.html' %}
{% block title %} {{ tag.name }} {% endblock %}
{% block content %}

        
        <header class="tags-header">
            <h1>یافته های <i class="fa fa-hashtag" aria-hidden="true"></i>&nbsp;{{ tag.name }}</h1>
        </header>

        {% for post in posts %}
        
        <section id="main-section">
            {% include 'blog/post_summary.html' %}
        </section>
        {% empty %}
        <header class="article-header">
            <h3>هیچ مطلبی با هشتگ {{ tag.name }} یافت نشد.</h3>
        </header>
        {% endfor %}

{% endblock %}